* {
  /*border: 1px solid black;*/
}

body {
  font-size: 16px; /* default font size */
}

.main_nav {
  text-align: right;
  padding: 5px;
  background: #fafafa;
}

.flash {
  background: #cee5F5;
  padding: 0.5em;
  border: 1px solid #aacbe2;
}
.error {
  background: #f0d6d6;
  padding: 0.5em;
}