/*-------------- Current time --------------*/
.datetime_today {
  border: 1px solid black;
  text-align: center;
}

.date_today {
  font-size: 20px;
}

.curr_time {
  font-size: 32px;
}

@media (min-width: 768px) {

  .date_today {
    font-size: 30px;
  }

  .curr_time {
    font-size: 50px;
  }
}
/*-------------- end current time --------------*/

/*-------------- main body --------------*/
.exercise_count {
  font-size: 20px;
  margin: 20px auto;
  text-align: center;
}
/*-------------- exercise table --------------*/
.str_exercises {
  margin: 0 auto;
}

.cardio_exercises {
  margin: 0 auto;
  margin-top: 50px;
}

.add_exercise {
  display: block;
  margin: 0 auto;
  margin-top: 50px;
}
/*-------------- end exercise table --------------*/

/*-------------- add exercise modal --------------*/
/* Boostrap modal bug where backdrop's z-index > dialog's z-index */
.modal-dialog {
  z-index: 1050;
}

#str_exercises_modal {
  text-align: center;
}

.autocomplete_input {
  margin: 30px auto;
  width: 75%;
}

.add_exercise_input {
  display: block;
  margin: 0;
  width: 75%;
}

@media (min-width: 768px) {
  .add_exercise_input {
    display: inline-block;
    margin: 0 30px;
    width: 20%;
  }
}
/*-------------- end add exercise modal --------------*/
/*-------------- end main body --------------*/





