.datetime_today {
  border: 1px solid black;
  text-align: center;
}

.date_today {
  font-size: 20px;
}

.curr_time {
  font-size: 32px;
}

.exercise_count {
  font-size: 20px;
  margin: 20px auto;
  text-align: center;
}

.str_exercises {
  margin: 0 auto;
}

.add_exercise {
  display: block;
  margin: 0 auto;
  margin-top: 50px;
}

/* Boostrap modal bug where backdrop's z-index > dialog's z-index */
.modal-dialog {
  z-index: 1050;
}


@media (min-width: 768px) {

  .date_today {
    font-size: 30px;
  }

  .curr_time {
    font-size: 50px;
  }
}