{% extends "base.html" %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/index_style.css') }}">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28/angular.min.js" defer></script>
  <script src="{{ url_for('static', filename='js/exercises.js') }}" defer></script>
{% endblock %}

{% block body %}
<div ng-controller='WorkoutLogController'>
  <!-- date time for today -->
  <article class='datetime_today row'>
    <div class='date_today col-xs-12'>{{ date }}</div>
    <div class='curr_time col-xs-12'>{{ curr_time }}</div>
  </article>

  <!-- entry for today -->
  <article class='entry_container'>
    <div>You have done {[ totalExercises ]} exercises today.</div>

    <form action="{{ url_for('add_entry') }}" method='post' class='add_entry'>
      <!-- strength exercises -->
      <ul class='str_exercises'>
        <li ng-repeat='ex in strExercises'>
          Sets<input type='number' name='sets' min='0' ng-model='ex.sets'>
          Reps<input type='number' name='reps' min='0' ng-model='ex.reps'>
          Weight<input type='number' name='weight' min='0' ng-model='ex.weight'>
          Exercise<input type='text' name='exercise' ng-model='ex.name'>
        </li>
      </ul>
      <input type='button' ng-click='addExercise()'>

      <!-- saving entry -->
      {% if session.logged_in %}
        <input type='submit' value='Save Entry'>
      {% endif %}
    </form>
  </article>
</div>
{% endblock %}