{% extends "base.html" %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/index_style.css') }}">
  <script src="{{ url_for('static', filename='js/exercises.js') }}"></script>
{% endblock %}

{% block body %}
<!-- angular controller -->
<div ng-controller='WorkoutLogController'>
  <!-- date time for today -->
  <div class='datetime_today row'>
    <div class='date_today col-xs-12'>{{ date }}</div>
    <div class='curr_time col-xs-12'>{{ curr_time }}</div>
  </div>

  <!-- entry for today -->
  <section class='entry_container'>
    <div class='exercise_count'>
      You have done {[ strExercises.length ]} exercises today.
    </div>

    <form action="{{ url_for('add_entry') }}" method='post' class='add_entry'>
      <!-- strength exercises -->
      <div class='table-responsive'>
        <table class='table str_exercises'>
          <th>Sets</th>
          <th>Reps</th>
          <th>Weight</th>
          <th>Exercise</th>
          <th>Remove</th>
          <tr ng-repeat='ex in strExercises'>
            <td>{[ex.sets]}</td>
            <td>{[ex.reps]}</td>
            <td>{[ex.weight]}</td>
            <td>{[ex.exName]}</td>
            <td><a href='#' class='btn btn-primary' ng-click='removeExercise(ex)'>X</a></td>
          </tr>
        </table>
      </div>

      <!-- add exercise to workout button -->
      <a href='#' class="btn btn-success add_exercise_btn" data-toggle="modal"
      data-target="#str_exercises_modal" ng-click='initializeAddExercise()'>
      Add Exercise</a>

      <!-- saving entry -->
      {% if session.logged_in %}
        <input type='submit' value='Save Entry'>
      {% endif %}
    </form>
  </section>

  <!-- create new exercise in database -->
  <section class='create_exercise'>
    <a href='#' class='btn btn-success' data-toggle='modal' data-target='#create_exercise_modal'
    ng-click='initializeCreateExercise()'>Create New Exercise</a>
  </section>

  <!-- Popup modal for creating new exercise -->
  <div class='modal fade' id='create_exercise_modal' tabindex='-1'
  role='dialog' aria-labelledby='create_exercise_modal' aria-hidden='true'>
    <div class='modal-dialog'>
      <div class='modal-content'>
        <div class='modal-header'>
          <button type='button' class='close' data-dismiss='modal' aria-hidden='true'>x</button>
          <h4 class='modal-title'>Create New Exercise</h4>
        </div>
        <div class='modal-body'>
          <input type='text' ng-model='newExercise.exName'>
          <select ng-model='newExercise.exType'>
            <option value='1' selected='selected'>Strength</option>
            <option value='2'>Cardio</option>
          </select>
          <select ng-model='newExercise.equipment'
            ng-options='eq.name for eq in allEquipment track by eq.id'>
          </select>
        </div>
        <div class='modal-footer'>
          <button type='button' class='btn btn-primary btn-lg' \
                  data-dismiss='modal' ng-click='createExercise()'>Create</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Popup modal for adding a strength exercise to entry -->
  <div class='modal fade' id='str_exercises_modal' tabindex='-1'
  role='dialog' aria-labelledby='str_exercises_modal' aria-hidden='true'>
    <div class='modal-dialog modal-lg'>
      <div class='modal-content'>
        <div class='modal-header'>
          <button type='button' class='close' data-dismiss='modal' aria-hidden='true'>x</button>
          <h4 class='modal-title'>Add Exercise to Workout</h4>
        </div>
        <div class='modal-body'>
          <!-- add exercise form -->
          <form ng-submit='addExercise()'>
            <div class='form-group add_exercise_input'>
              <label for='addExerciseSets'>Sets</label>
              <input type='number' class='form-control' min='0' ng-model='addExercise.sets'>
            </div>
            <div class='form-group add_exercise_input'>
              <label for='addExerciseReps'>Reps</label>
              <input type='number' class='form-control' min='0' ng-model='addExercise.reps'>
            </div>
            <div class='form-group add_exercise_input'>
              <label for='addExerciseWeight'>Weight</label>
              <div class='input-group'>
                <input type='number' class='form-control' min='0' ng-model='addExercise.weight'>
                <span class="input-group-addon">lbs.</span>
              </div>
            </div>
            <div class='form-group add_exercise_input'>
              <label for='addExerciseName'>Name</label>
              <!-- <input type='text' class='form-control' min='0' ng-model='addExercise.exName' required> -->
              <select ng-model='addExercise.exercise'
                ng-options='ex.name for ex in allExercises track by ex.id'>
              </select>
            </div>
          </form>
        </div>
        <div class='modal-footer'>
          <!-- <button type='button' class='btn btn-default' data-dismiss='modal'>Close</button> -->
          <button type='button' class='btn btn-primary btn-lg' \
                  data-dismiss='modal' ng-click='addExercise()'>Add</button>
        </div>
      </div>
    </div>
  </div>
</div> <!-- ng-controller -->
{% endblock %}