{% extends "base.html" %}
{% block body %}

  <!-- date time for today -->
  <div>{{ date }}</div>
  <div>{{curr_time}}</div>

  <!-- entry for today -->
  <section class='entry_container'>
    <form action="{{ url_for('add_entry') }}" method='post' class='add_entry'>

      <!-- strength exercises -->
      <ul class='str_exercises'>
        <li class='str_exercise'>
          Sets<input type='number' name='sets' min='0'>
          Reps<input type='number' name='reps' min='0'>
          Weight<input type='number' name='weight' min='0'>
          Exercise<input type='text' name='exercise'>
        </li>
      </ul>

      <!-- cardio exercises -->
      <ul class='cardio_exercises'>
        <li class='exercise'>
      </ul>

      <!-- saving entry -->
      {% if session.logged_in %}
        <input type='submit' value='Save Entry'>
      {% endif %}
    </form>
  </section>

{% endblock %}